<h3>Members Only</h3>
<% if !signed_in? %>
	<% if !flash[:error].nil? %> <!-- Error popup for entering blank data -->
		<div class="alert alert-error">
			<strong><%= flash[:error] %></strong>
		</div>
	<% end %>
	<% if flash[:success] %> <!-- Success popup minus button to close it -->
		<div class="alert alert-success">
			<strong><%= flash[:success] %></strong>
		</div>
	<% end %>

	<p>Login to read posts by other users</p>
<% else %>
	<% if flash[:success] %> <!-- Success popup minus button to close it -->
		<div class="alert alert-success">
			<strong><%= flash[:success] %></strong>
		</div>
	<% end %>

<% end %>	


<% if !signed_in? %>
	<%= link_to 'Login',login_path %>
<% else %>
	<%= link_to 'Log out',logout_path %>
<% end %>	